<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dr Strange</title>
    <link rel="stylesheet" href="../style/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../scss/style.css">
</head>

<body>

    <div class="container">
        <div class="row">
            <div>
                <nav class="navbar navbar-expand-lg navbar-light bg-transparent mt-lg-4">
                    <a 
                    class="navbar-brand text-white mt-2"
                    href="/src/views/index.html">
                    <img style="width: 50%;" src="../assets/marvelStudio.png" alt=""></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="justify-content-center space collapse navbar-collapse">
                        <div class="navbar-nav ">
                            <a class="nav-item nav-link active text-uppercase me-3 text-white" href="#">inicio</a>
                            <a class="nav-item nav-link text-uppercase me-3 text-white" href="#">participantes</a>
                            <a class="nav-item nav-link text-uppercase me-3 text-white" href="#">galeria</a>
                            <a class="nav-item nav-link disabled text-uppercase me-3 text-white" href="#">video</a>
                        </div>
                    </div>
                </nav>
            </div>



            <div class="col-md-6 col-sm-6 col-12">
                <div>
                   <h1 class="doctor mt-4">Doctor</h1>
                   <h1 class="text-uppercase strange">Stranger</h1>
                   <h1 class="text-uppercase mb-4 fst-italic multiverso ">O Multiverso</h1>
                   <span class="text-white">
                       Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                       Atque ipsa nostrum eius odit, cumque modi explicabo consequatur
                       eaque, molestias hic recusandae optio inventore veniam sit,
                       quas ducimus! Voluptatum, nesciunt quaerat!
                   </span>
                </div>

                
               <a 
               class="btn btn-danger bg-red btn-lg"
               href="https://youtu.be/UvDS4sJASh8">Assistir trailer 
               <img class="img" src="../assets/arrow.png" alt=""> </a>
            </div>

             <div class="col-md-6 text-end ">
                  <div class="icon-info ">
                      <div class="mb-3"><a href="https://free.facebook.com/hernany.simao1?ref_component=mfreebasic_home_header&ref_page=MMessagingThreadlistController&refid=11"><img src="../assets/facebook.png" alt="Logotipo facebook"></a> </div>
                      <div class="mb-3"><a href="https://www.instagram.com/hernany.tkra/"><img src="../assets/instagram.png" alt="Logotipo instagram"></a></div>
                      <div><a href="https://www.youtube.com/channel/UCnyP7u5sWVz3Fdi7Yr9Bujw"><img src="../assets/youtube.png" alt="Logotipo youtube"></a></div>
                  </div>
                 
             </div>
                

             
            </div> 
            <div class="row">
                <div class="text-white col-md-12 mt-5">
                    <h6 class="text-center">Copyright &copy; Developer 404</h6>
                </div>
            </div>



</body>

</html>